[ req ]
default_bits		= 2048
default_keyfile 	= privkey.pem
distinguished_name	= req_distinguished_name

string_mask = utf8only

req_extensions = v3_req

[ req_distinguished_name ]
countryName			= US
countryName_default = US
countryName_min     = 2
countryName_max     = 2

stateOrProvinceName		= Ohio
stateOrProvinceName_default    = Ohio

localityName			= Cleveland
localityName_default    = Cleveland

0.organizationName		= AmTrust North America, Inc.
0.organizationName_default      = AmTrust North America, Inc.

organizationalUnitName	= IT
organizationalUnitName_default = IT

commonName			= {{ ansible_hostname }}
commonName_max                  = 64

[ req_attributes ]

[ v3_req ]

basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = {{ ansible_hostname }}
DNS.2 = {{ ansible_fqdn }}
